html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'helvetica', 'arial', sans-serif;
  background-color: red;
}

#container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  background-color: yellow;
}

#title {
  text-align: center;
}

#catalog-container {
  width: 80%;
  background-color: blue;
  padding: 1.5em;
  height: 80%;
  margin-left: 1em;
}

th {
  border-right: 1px dashed;
  border-left: 1px dashed;
  border-bottom: 1px dashed;
}

div#catalog-container td {
  width: 5%;
  text-align: center;
  border-right: 1px dashed;
  border-left: 1px dashed;
  border-bottom: 1px dashed;
  height: 40px;
  padding-top: 20px;
}

td.name {

}

div#create-items {
  float: right;
  background-color: green;
  padding: 1em;
}

div#bottom-spacing {
  height: 2em;
  width: 100%;
  background-color: yellow;
}

@media screen and (max-width: 1200px) {

  #container {
    background-color: orange;
  }

  div#create-items {
    float: none;
    text-align: center;
  }

  #catalog-container {
    margin: 0 auto;
  }

}

@media screen and (max-width: 1000px) {

  #container {
    background-color: black;
  }

  #catalog-container {
    font-size: 0.7em;
    width: 90%;
  }

}